name: SonarQube Analysis (TypeScript)

on:
  push:
    branches: [ master, main ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarqube:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: npm install

      - name: Check Format (Prettier)
        run: npm run check-format

      - name: Lint Code (ESLint & TypeScript)
        run: npm run lint

      - name: Type Check (Build)
        run: npm run build

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        with:
          args: >
            -Dsonar.projectKey=nodejs-app-local
            -Dsonar.sources=.
            -Dsonar.typescript.tsconfigPath=tsconfig.json