name: SonarQube Analysis

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: self-hosted  # QUAN TRỌNG: Chỉ định chạy trên máy local của bạn

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Dependencies
        run: npm install

      # (Tùy chọn) Chạy test để lấy báo cáo độ phủ code (coverage)
      - name: Run Test
        run: npm test -- --coverage 

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
